<section>
    <section class="row landing_bg">
        <article data-aos="fade-right" data-aos-duration="2000" class="col-sm-8 bg-light my-5 principal">
            <div class="text-justify ">
                <h1>
                    O que são Services?
                </h1>
                <h6>
                    Este tópico pode ajudá-lo a entender sobre o componente serviços do Angular.
                </h6>
                <br>
                <p>
                    Serviço é uma categoria ampla que abrange qualquer valor, função ou recurso de que um aplicativo
                    precisa. Um serviço é normalmente uma classe com um propósito estreito e bem definido. Deve fazer
                    algo específico e bem feito.
                </p>
                <p>
                    O Angular distingue componentes de serviços para aumentar a modularidade e a capacidade de
                    reutilização. Ao separar a funcionalidade relacionada à visualização de um componente de outros
                    tipos de processamento, você pode tornar suas classes de componente enxutas e eficientes.
                </p>
                <p>
                    Idealmente, a função de um componente é permitir a experiência do usuário e nada mais. Um componente
                    deve apresentar propriedades e métodos para vinculação de dados, a fim de mediar entre a
                    visualização (renderizada pelo modelo) e a lógica do aplicativo (que geralmente inclui alguma noção
                    de um modelo ).
                </p>
                <p>
                    Um componente pode delegar certas tarefas a serviços, como buscar dados do servidor, validar a
                    entrada do usuário ou registrar diretamente no console. Ao definir essas tarefas de processamento em
                    uma classe de serviço injetável , você disponibiliza essas tarefas para qualquer componente. Você
                    também pode tornar seu aplicativo mais adaptável injetando diferentes provedores do mesmo tipo de
                    serviço, conforme apropriado em diferentes circunstâncias.
                </p>
                <p>
                    O Angular não impõe esses princípios. O Angular o ajuda a seguir esses princípios, facilitando a
                    fatoração da lógica do aplicativo em serviços e disponibilizando esses serviços para componentes por
                    meio de injeção de dependência .
                </p>
                    
                <br>

                
                <p>

                    Para obter mais informações sobre serviços do Angular, consulte a documentação oficial
                    neste link:
                    <a target="_blank" href="https://angular.io/guide/architecture-services">Documentação</a>.

                </p>


            </div>

        </article>
        <article class="col-sm-4 secondario ">
            <div data-aos="zoom-out" data-aos-easing="ease-out-cubic" data-aos-duration="2000"
                class="d-flex align-itens-center">
                <img class="img" src="../../assets/images/landinpage/angular.png" alt="">
            </div>

        </article>
    </section>
</section>