<section>
    <section class="row landing_bg">
        <article data-aos="fade-right" data-aos-duration="2000" class="col-sm-8 bg-light my-5 principal">
            <div class="text-justify ">
                <h1>
                    Bibliotecas primárias
                </h1>
                <h6>
                    Este tópico pode ajudá-lo a entender algumas das principais bibliotecas primárias do Angular.
                </h6>
                <br>
                <p>
                    Este trabalho fornece uma breve visão geral de alguns dos principais elementos arquitetônicos que você usará ao construir aplicativos angulares. Mas os muitos benefícios do Angular realmente se tornam aparentes quando seu aplicativo cresce e você deseja adicionar funções adicionais, como navegação no site ou entrada do usuário. Use a plataforma Angular para incorporar uma das muitas bibliotecas primárias que o Angular oferece.
                </p>
                <br>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">LIB</th>
                            <th scope="col">Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Angular Router</th>
                            <td>Navegação avançada do lado do cliente e roteamento com base em componentes angulares. Suporta carregamento lento, rotas aninhadas, correspondência de caminho personalizado e muito mais.</td>
                            
                        </tr>
                        <tr>
                            <th scope="row">Angular Forms</th>
                            <td>Sistema uniforme de participação e validação de formulários.</td>
                           
                        </tr>
                        <tr>
                            <th scope="row">Angular HttpClient</th>
                            <td>Cliente HTTP robusto que pode possibilitar uma comunicação cliente-servidor mais avançada.</td>
                           
                        </tr>
                        <tr>
                            <th scope="row">Angular PWA</th>
                            <td>Ferramentas para a construção de Progressive Web Applications (PWAs), incluindo um service worker e manifesto do Web app.</td>
                        </tr>
                        <tr>
                            <th scope="row">Angular Schematics</th>
                            <td>Ferramentas automatizadas de scaffolding, refatoração e atualização que simplificam o desenvolvimento em grande escala.</td>
                        </tr>
                        <tr>
                            <th scope="row">Angular Animations</th>
                            <td>Sistema rico para conduzir animações com base no estado do aplicativo.</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <p>
                    Essas bibliotecas expandem a funcionalidade de seu aplicativo e, ao mesmo tempo, permitem que você se concentre mais nos recursos que tornam seu aplicativo único. Adicione essas bibliotecas sabendo que elas foram projetadas para se integrar perfeitamente e atualizar simultaneamente com a estrutura Angular.
                </p>
                <p>
                    Essas bibliotecas são necessárias apenas se e quando puderem ajudá-lo a adicionar funcionalidade aos seus aplicativos ou resolver um problema específico.
                </p>
                <p>
                    Para obter mais informações sobre como instale e usar a CLI, consulte a documentação oficial
                    neste link:
                    <a target="_blank" href="https://angular.io/guide/using-libraries">CLI</a>.

                </p>


            </div>

        </article>
        <article class="col-sm-4 secondario ">
            <div data-aos="fade-down-left" data-aos-duration="2000" class="d-flex align-itens-center">
                <img class="img" src="../../assets/images/landinpage/angular.png" alt="">
            </div>

        </article>
    </section>
</section>
