<section>
    <section class="row landing_bg">
        <article data-aos="fade-right" data-aos-duration="2000" class="col-sm-8 bg-light  principal">
            <div class="text-justify ml-5">
                <h1>
                    O que é Angular?
                </h1>
                <h6>
                    Este tópico pode ajudá-lo a entender o Angular: o que é Angular, quais as vantagens que ele oferece
                    e o
                    que você
                    pode esperar ao começar a construir seus aplicativos.
                </h6>
                <br>
                <p>
                    Angular é uma plataforma de desenvolvimento, construída em TypeScript. Como plataforma, o Angular
                    inclui:
                </p>
                <br>

                <ul class="list-group">
                    <li class="list-group-item">
                        Uma estrutura baseada em componentes para a construção de aplicativos web escaláveis,

                    </li>
                    <li class="list-group-item">
                        Uma coleção de bibliotecas bem integradas que cobrem uma ampla variedade de recursos, incluindo
                        roteamento,
                        gerenciamento de formulários, comunicação cliente-servidor e muito mais e,
                    </li>
                    <li class="list-group-item">
                        Um conjunto de ferramentas de desenvolvedor para ajudá-lo a desenvolver, construir, testar e
                        atualizar seu
                        código.
                    </li>
                </ul>


                <p>

                    Com o Angular, você está aproveitando as vantagens de uma plataforma que pode ser dimensionada de
                    projetos de um
                    único desenvolvedor a aplicativos de nível empresarial.
                </p>
                <p>
                    O Angular foi projetado para tornar a atualização o mais simples possível, portanto, aproveite os
                    desenvolvimentos mais recentes com um mínimo de esforço. O melhor de tudo é que o ecossistema
                    Angular consiste em um grupo diversificado de mais de 1,7 milhão de desenvolvedores, autores de
                    bibliotecas e
                    criadores de conteúdo.
                </p>
            </div>

        </article>
        <article data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" class="col-sm-4 secondario">
            <div class="d-flex align-itens-center">
                <img class="img" src="../../assets/images/landinpage/angular.png" alt="">
            </div>

        </article>
    </section>
    <div class="row"></div>
    <section class="row landing_bg">
        <article data-aos="fade-right" data-aos-duration="2000" class="col-sm-8 bg-light  principal">
            <div class="text-justify ml-5">
                <h1>
                    Mídia
                </h1>
                <h6>
                    Alguns vídeos que podem ajudá-lo.
                </h6>
            </div>
        </article>
    </section>
        <div class="row"></div>
        <article class="row">
            <div class="container-fluid">

                <div class="col-md-6" data-aos="zoom-out-down" data-aos-duration="3000">
                    <iframe width="500" height="315" src="https://www.youtube.com/embed/3G07qur3E38"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-md-6" data-aos="zoom-in-down" data-aos-duration="3000">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/O1TZD_w16NY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>


            </div>
        </article>
    

</section>