p{
    font-size: medium;
}
.landing_bg{
    background: rgb(248,246,246);
    background: linear-gradient(90deg, rgba(248,246,246,1) 0%, rgba(255,255,255,1) 50%, rgba(248,246,246,1) 100%);  
}

.img{
    width: 60% !important;
    max-width: 60% !important;
    margin-left: auto;
	margin-right: auto;
	display: block;
    
}
