<section>
    <section class="row landing_bg">
        <article data-aos="fade-right" data-aos-duration="2000" class="col-sm-8 bg-light my-5 principal">
            <div class="text-justify ">
                <h1>
                    O que são Data Bindings?
                </h1>
                <h6>
                    Este tópico pode ajudá-lo a entender sobre os Data Bindings do Angular.
                </h6>
                <br>
                <p>
                    Ele nos permite definir a comunicação entre o componente e a
                    visualização. Portanto, podemos dizer que a vinculação de dados é
                    passada de um componente para a visualização e da visualização
                    para o componente.
                </p>
                <p>
                    Tipos de Data Binding:
                </p>
                <br>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Data Binging</th>
                            <th scope="col">Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">String Interpolation</th>
                            <td>O String Interpolation é do tipo one way data binding, ou seja, o
                                dado é apenas apresentado na tela para o usuário, sem alteração do valor
                                internamente. Para fazer essa interpolação use chaves duplas e dentro delas coloque o nome do atributo do componente ou alguma expressão
                                JavaScript.</td>
                            
                        </tr>
                        <tr>
                            <th scope="row">Property bindig</th>
                            <td>one way data binding, o property Binding serve,
                                principalmente, para atrelar valores de atributos do componente aos atributos de
                                um elemento HTML ou algum outro componente. Para usar o property binding,
                                dentro do elemento que você deseja usá-lo, coloque o nome da propriedade entre
                                colchetes, por exemplo ([propriedade]="atributoDoComponente"). Assim, a
                                propriedade terá o valor do atributo do seu componente.</td>
                           
                        </tr>
                        <tr>
                            <th scope="row">Event binding:</th>
                            <td>Serve para ouvir eventos nativos do
                                HTML ou eventos que podem ser criados pelo programador, executando algum
                                método do componente. Para usar o event binding é necessário que, dentro do
                                elemento HTML
                                ou componente, coloque entre parênteses o nome da função e , entre aspas,
                                coloque a chamada da função que deseja executar
                                ((nomeDoEvento)=”metodoDoComponente()”).</td>
                           
                        </tr>
                        <tr>
                            <th scope="row">Two Way Data Binding</th>
                            <td>É um tipo especial de binding,
                                onde além do valor do atributo ser apresentado na tela do usuário, caso o valor seja
                                editado em algum campo de input, o valor será automaticamente alterado internamente
                                no componente. [(ngModel)]="propComponent"</td>
                        </tr>
                       
                    </tbody>
                </table>
                <div>
                    <pre>
                        <blockquote>
                            {{string_Interpolation}}
                        </blockquote>
                    </pre>
                </div>
                <br>
                <p>
                    
                    Para obter mais informações sobre o que fazer com os Data Bindings, consulte a documentação oficial
                    neste link:
                    <a target="_blank" href="https://angular.io/">Documentação</a>.

                </p>
                

            </div>

        </article>
        <article class="col-sm-4 secondario ">
            <div data-aos="fade-left"
            data-aos-anchor="#example-anchor"
            data-aos-offset="500"
            data-aos-duration="1200"
            class="d-flex align-itens-center">
                <img class="img" src="../../assets/images/landinpage/angular.png" alt="">
            </div>

        </article>
    </section>
</section>
