<header>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- suporte a mobile -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Visualizar itens</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">{{title}}</a>
			</div>
	
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#">Inicial</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">
							Get Started <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a >
									Dashboard
								</a>
							</li>
							<li role="separator" class="divider"></li>
							<li>
								<a >
									Calculadora
								</a>
							</li>
							<li>
								<a >
									Conversor de moedas
								</a>
							</li>
							<li>
								<a >
									Gerenciador de tarefas
								</a>
							</li>
							
							<li>
								<a >
									Jogo da velha
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- <div class="container-fluid">
		<router-outlet></router-outlet>
	</div> -->
</header>
<main>



</main>
<section class="deneb_cta">
	<div class="container">
		<div class="cta_wrapper">
			<div class="row align-items-center">
				<div class="col-lg-7">
					<div class="cta_content">
						<h3>Algum Projeto em Mente?</h3>
						<p>Estamos prontos para qualquer desafio.</p>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="button_box">
						<a href="#" class="btn btn-warning">Clique aqui</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<footer class="deneb_footer">
	<div class="widget_wrapper" style="background-image: url(../assets/images/footer_bg.png);">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<div class="widget widegt_about">
						<div class="widget_title">
							<h4>Mídias Sociais</h4>
						</div>
						<p>
              Venha fazer parte da nossa comunidade nas principais mídias sociais.
            </p>
						<ul class="social">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="widget widget_link">
						<div class="widget_title">
							<h4>Links</h4>
						</div>
						<ul>
							<li><a href="#">Sobre nós</a></li>
							<li><a href="#">Serviços</a></li>
							<li><a href="#">Portfolio</a></li>
							<li><a href="#">Blog</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="widget widget_contact">
						<div class="widget_title">
							<h4>Contact Us</h4>
						</div>
						<div class="contact_info">
							<div class="single_info">
								<div class="icon">
									<i class="fas fa-phone-alt"></i>
								</div>
								<div class="info">
									<p><a href="tel:+558599999999">(85) 9999 - 9999</a></p>
									<p><a href="tel:+558533333333">(85) 3333 - 3333</a></p>
								</div>
							</div>
							<div class="single_info">
								<div class="icon">
									<i class="fas fa-envelope"></i>
								</div>
								<div class="info">
									<p><a href="mailto:contato@angular.com">contato@angular-facil.com</a></p>
									<p><a href="mailto:servico@angular.com">services@angular-facil.com</a></p>
								</div>
							</div>
							<div class="single_info">
								<div class="icon">
									<i class="fas fa-map-marker-alt"></i>
								</div>
								<div class="info">
									<p>Rua dos Provedores, 5525<span>Fortaleza-CE.</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="copyright_text">
						<p>Copyright &copy; 2021 All rights reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>