<section>
    <section class="row landing_bg">
        <article  data-aos="fade-right" data-aos-duration="2000" class="col-sm-8 bg-light my-5 principal">
            <div class="text-justify ">
                <h1>
                    CLI Angular
                </h1>
                <h6>
                    Este tópico pode ajudá-lo a entender sobre o CLI do Angular.
                </h6>
                <br>
                <p>
                    O Angular CLI é a maneira mais rápida, direta e recomendada de desenvolver aplicativos Angular. O
                    Angular CLI torna uma série de tarefas sem problemas. aqui estão alguns exemplos:
                </p>
                <br>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">CLI</th>
                            <th scope="col">Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">ng build</th>
                            <td>Compila um aplicativo Angular em um diretório de saída.</td>
                            
                        </tr>
                        <tr>
                            <th scope="row">ng serve</th>
                            <td>Constrói e atende seu aplicativo, reconstruindo as alterações de arquivo.</td>
                           
                        </tr>
                        <tr>
                            <th scope="row">ng test</th>
                            <td>Executa testes de unidade em um determinado projeto.</td>
                           
                        </tr>
                        <tr>
                            <th scope="row">ng e2e</th>
                            <td>Constrói e fornece um aplicativo Angular e, em seguida, executa testes de ponta a ponta.</td>
                        </tr>
                        <tr>
                            <th scope="row">ng g module</th>
                            <td>Constrói um novo módulo.</td>
                        </tr>
                        <tr>
                            <th scope="row">ng g component</th>
                            <td>Constrói um novo componente.</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <p>
                    O Angular CLI é uma ferramenta de interface de linha de comando que você usa para inicializar, desenvolver, criar scaffold e manter aplicativos Angular diretamente de um shell de comando.

                    Para obter mais informações sobre como instale e usar a CLI, consulte a documentação oficial
                    neste link:
                    <a target="_blank" href="https://angular.io/cli">CLI</a>.

                </p>


            </div>

        </article>
        <article class="col-sm-4 secondario ">
            <div data-aos="fade-up"
            data-aos-duration="3000" class="d-flex align-itens-center">
                <img class="img" src="../../assets/images/landinpage/angular.png" alt="">
            </div>
        </article>
    </section>
</section>